body {
   -webkit-touch-callout: none;                
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                 
    /* prevent copy paste, to allow, change 'none' to 'text'*/
    background-attachment:fixed;
  /*  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    font-size:30px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    background-color: #6666FF;
}
#login_container{
    position:absolute;
    margin-left:0px;
    margin-top:0;
    width:100%;
    width:100%;
}
#form_login {
   
}
#form_login_username, #form_login_password {
    width:44%;
    height:5%;
    margin-left:24%;
    margin-right:24%;
    margin-bottom:6px;
    padding:1%;
    font-size:20px;
    border-width:1%;
    border-color:#373787;
    color:#373787;
    border-style: solid;
    border-radius:1%;
    
}
#form_login_submit{
    width:46%;
    height:3%;
    margin-left:24%;
    margin-right:24%;
    font-size:25px;
    padding:1%;
    border-radius:1%;
    border-width:1%; 
    background-color:#4747B0;
    border-color:#4747B0;
    color:white;
    border-style: solid;
}
